---
import Whatsapp from "./icons/Whatsapp.astro";

const personalImageAlt = "Alexander Rosas";
---

<style>
  .sizeButtonW {
    width: 5rem;
    height: 5rem;
  }
</style>

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row relative"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy un <strong>desarrollador fullstack</strong> con más de 3 años de experiencia en la industria tecnológica. 
      Mi carrera comenzó en el área de soporte como Junior Support Analytics, donde adquirí habilidades
      en análisis y soporte técnico. Luego, evolucioné hacia el desarrollo de software fullstack, 
      trabajando con tecnologías como JavaScript, C#, .NET, .NET Core, ASP.NET, SQL Server, HTML, CSS, y Azure.
    </p>

    <p>
      Durante mi tiempo en <strong>Estusolucion.com</strong>, gestioné el soporte de hasta 10 clientes, realicé toma de requerimientos, 
      actualizaciones y despliegues de plataformas en Windows Server a través de IIS. Posteriormente, en <strong>C&M Development Group S.A.S.</strong>, 
      fui responsable de migrar proyectos completos, diseñar bases de datos, desarrollar tanto el backend como el frontend, utilizando 
      herramientas como ASP.NET Zero, Angular, y diversos design systems.
    </p>

    <p>
      Como desarrollador de software,
      <strong>gracias a mis grandes habilidades para desempeñar los retos y obstaculos
        que se presentan,
        <em class="italic"
          >mi compromiso y vision de exito siempre me a permitido romper
          estereotipos y barreras</em
        >
      </strong> para desempeñar mis conocimientos en proyectos de poco tiempo y grandes flujos de trabajo como freelancer, 
      en donde me especializo en proyectos de inteligencia artificial y trabajo con tecnologías 
      de vanguardia como NestJS, Python, TypeScript, ReactJS, Next.js, microservicios, MongoDB, PostgreSQL, 
      y plataformas de generación de imágenes como Fooocus y Stable Diffusion.
    </p>
  </div>

  <a
    href="https://wa.me/3058130637"
    class="py-2 px-4 rounded-full inline-flex items-center fixed bottom-4 right-4 z-10"
  >
    <Whatsapp class="sizeButtonW" />
  </a>

  <img
    width="200"
    height="200"
    src="/me.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
