---
const PROJECTS = [
  {
    image: "/certificacionesAcademicas/devf.webp",
  },
  {
    image: "/certificacionesAcademicas/grancolombia.webp",
  },
  {
    image: "/certificacionesAcademicas/mintic1.webp",
  },
  {
    image: "/certificacionesAcademicas/mintic2.webp",
  },
  {
    image: "/certificacionesAcademicas/mintic3.webp",
  },
  {
    image: "/certificacionesAcademicas/mintic4.webp",
  },
  {
    image: "/certificacionesAcademicas/mintic5.webp",
  },
  {
    image: "/certificacionesAcademicas/Platzi1.webp",
  },
  {
    image: "/certificacionesAcademicas/platzi2.webp",
  },
  {
    image: "/certificacionesAcademicas/platzi3.webp",
  },
  {
    image: "/certificacionesAcademicas/platzi4.webp",
  },
  {
    image: "/certificacionesAcademicas/platzi5.webp",
  },
];
---

<div class="md:px-14 px-4  mx-auto max-w-1700px">
  <style>
    .logos {
      overflow: hidden;
      white-space: nowrap;
    }

    /* .logos-slide {
      display: flex;
      animation: slide 5s infinite linear;
    } */

    @keyframes slide {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    .logos:hover .logos-slide {
      animation-play-state: paused;
    }

    .logos-slide {
      display: inline-flex;
      animation: 50s slide infinite linear;
    }

    .logos-slide img {
      max-width: none;
      height: 20rem;
      margin: 40px;
    }
  </style>

  <div class="text-center my-8">
    <div class="my-12 flex flex-wrap justify-between items-center gap-8">
      <div class="logos">
        <div class="logos-slide">
          {
            PROJECTS.map(({ image }, index) => (
              <img alt="Tecnología" src={image} />
            ))
          }
          <!-- {
            PROJECTS.map(({ image }, index) => (
              <img alt="Tecnología" src={image} />
            ))
          }
          {
            PROJECTS.map(({ image }, index) => (
              <img alt="Tecnología" src={image} />
            ))
          } -->
        </div>
        <div class="logos-slide">
          {
            PROJECTS.map(({ image }, index) => (
              <img alt="Tecnología" src={image} />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
