---
const PROJECTS = [
  {
    image: "/certificacionesLaborales/muraby.webp",
  },
  {
    image: "/certificacionesLaborales/sampler.webp",
  },
  {
    image: "/certificacionesLaborales/stusolution.webp",
  },
];
---

<div class="flex flex-row gap-x-16 md:px-14 px-4 py-16">
  {
    PROJECTS.map(({ image }) => (
      <div class="flex flex-row space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full">
          <div class="relative flex flex-row items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>
      </div>
    ))
  }
</div>
